VITE_VAPID_PUBLIC_KEY=BCi6FlX6Kw-L5ym2nmhGJLgmFsvkamyxrQBksW9dDCw7Npyfzt0jsqrDoOHInZYzXifVRm2BbzcTgcV8pUa4eB4
VAPID_PRIVATE_KEY=MU1detjJK2lGWfLYNSRZNviM9KftvgbVGt0BwJ_ruRw
VAPID_EMAIL=admin@visaexpert.com
